{% extends "mainapp/base.html" %} {% load crispy_forms_tags %} 
{% load crispy_forms_filters %} {% block title %} Login {% endblock %} {% block content %}
<div
	class="container bg-light shadow-lg p-4 mt-5 rounded form-layout"
	style="max-width: 500px">
	<h3 class="mb-4 text-center"><b>Login to your account</b></h3>

	{% if form.non_field_errors %}
	<div class="alert alert-danger" role="alert">{{ form.non_field_errors }}</div>
	{% endif %}

	<form method="POST" autocomplete="on">
		{% csrf_token %} {{ form.username|as_crispy_field }}

		<div class="mb-3 position-relative">
			{{ form.password|as_crispy_field }}
			<button
				type="button"
				id="showPasswordBtn"
				class="btn btn-sm btn-outline-secondary position-absolute end-0 top-50 translate-middle-y me-2">
				<i class="bi bi-eye"></i>
			</button>
		</div>

		<button class="btn btn-outline-primary w-100 p-2" type="submit">
			Login <i class="bi bi-key"></i>
		</button>
	</form>

	<div class="text-center mt-4">
		<p>Don't have an account? <a href="{% url 'register' %}">Register</a></p>
		<p>Forgot your password? <a href="{% url 'password_reset' %}">Reset</a></p>
	</div>
</div>

<script>
	document.addEventListener('DOMContentLoaded', function () {
		const showPasswordBtn = document.getElementById('showPasswordBtn');
		const passwordField = document.querySelector('input[type="password"]');

		showPasswordBtn.addEventListener('click', function () {
			if (passwordField.type === 'password') {
				passwordField.type = 'text';
				showPasswordBtn.innerHTML = '<i class="bi bi-eye-slash"></i>';
			} else {
				passwordField.type = 'password';
				showPasswordBtn.innerHTML = '<i class="bi bi-eye"></i>';
			}
		});
	});
</script>
{% endblock %}
